.flottant
{
	float:right;
}
.introductions
{
	color:grey;
}
#H1
{
	color:red;
	text-align:center;
}
.flottant7
{
	float:center;
}
.flottant
{
	float:right;
}
.video
{
	float:right;
}
.post
{
	float:right;
}
.post1
{
	float:center
}

.vip
{
	color:red;
	text-align:center;
}
.image
{
	float:center;
}

#mots
{
	text-align:center;
	color:white;
}

.flottant20
{
	float:right;
}